version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 10
  - package-ecosystem: npm
    directory: "/docs"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 10
    reviewers:
      - Wondertan
      - renaynay
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 10
    reviewers:
      - Wondertan
      - renaynay
    labels:
      - T:dependencies